/* Write some CSS below */
body {
    background: radial-gradient(circle, rgba(223,135,76,1) 0%, rgba(185,47,68,1) 100%);
    text-align: center;
  }
 
h1{
    color: #16A5A3;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 100px;
}

  h2 {
    color: #16A5A3;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 50px;
  }

  p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 40px;
    color : #4F775E;
  }
 
  a {
    text-decoration: none;
  }

  .card-pitch {
    background-color: white;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 40px auto;
    border-radius: 8px;
    width: 600px;
    transition: 1s;
  }

  .card-pitch:hover {
    transform:translateY(5px);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.791);
  }
 
  img {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    margin: auto;
    margin-top: -50px;
  }
 
  .btn-contact {
    color: #4F775E ;
    background-color: white;
    border: 2px solid;
    border-color: #bfc03d ;
    border-radius: 5px;
    padding: 10px 15px;
    transition: 1s;
  }
 
  .btn-contact:hover {
    color: white;
    background-color : #bfc03d;
  }

  .card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding-bottom: 40px;
}

.card-categ{
    border-radius: 5%;
    background: linear-gradient(0deg, rgba(191,192,61,1) 0%, rgba(79,119,94,1) 100%);
    padding: 10px;
    background-clip: padding-box;
    position:relative;
    z-index: 1;
}
.card-categ::after{
    content: "";
    border-radius: 5%;
    position:absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: white;
    z-index: -1;
    transition: 1s;
}

.card-categ p:hover {
    color: white;
    font-size: 20px;
}
.card-categ:hover::after {
    transform: scale(1.1);
    background-color: #4F775E;
}

.card-grid-rs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding-bottom: 0px;
}

.card-categ-rs {
    font-size: 60px;
    background: linear-gradient(0deg, rgba(223,135,76,1) 0%, rgba(185,47,68,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.icon-couleur-perso {
    background: linear-gradient(0deg, rgba(223,135,76,1) 0%, rgba(185,47,68,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }